@use "styles/variables" as *;

.navigation {
  background-color: var(--bg-secondary);
  box-shadow: 0 0 5px 0 var(--border-color);
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
  z-index: 2;
  position: sticky;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;

  max-height: 45px;

  &_search {
    display: flex;

    select {
      border-right: 1px solid var(--border-color);
    }
  }
  .auth {
    padding: 0 5px;
    text-decoration: none;
  }
}
