.login-box {
  display: flex;
  align-items: flex-start;
  position: relative;

  svg {
    fill: var(--text-primary);
  }
}
.hidden-item {
  display: none;
}

.hidden-item-active {
  position: absolute;
  right: -80%;
    top: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);

    a {
        color: var(--text-primary);
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s;
        &:hover {
        background-color: var(--bg-primary);
        }
    }

}
